{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Доставка и оплата</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/layout.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/jquery-1.6.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/tms-0.3.js' %}"></script>
<script src="{% static 'js/tms_presets.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">#menu a, .bg, .bg2, #ContactForm a {behavior:url("../js/PIE.htc")}</style>
<![endif]-->
</head>
<body id="page5">
<div class="body1">
  <div class="main">
    <!--header -->
    <header>
      <div class="wrapper">
        <h1><a href="{% url 'index' %}" id="logo"></a></h1>
        <nav>
          <ul id="menu">
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li class="active"><a href="{% url 'girls' %}">Девочкам</a></li>
            <li><a href="{% url 'boys' %}">Мальчикам</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- / header -->
    <!-- content -->
  </div>
</div>
<div class="body2">
  <div class="main">
    <article id="content2">
      <div class="wrapper">
        <div class="coll2">

          <h2>Доставка и оплата</h2>

          <figure class="left marg_right1"><img src="{% static 'images/photo_dost2.jpg' %}" alt=""></figure>
          <div class="wrapper">
            <h3 style='color:#050505'> ОПЛАТА ДЕТСКОЙ ОДЕЖДЫ ОПТОМ</h3>
            <p style='color:#050505'>
                <span style='font-size: medium;'> Минимальная сумма заказа 5000 с.</span>
                <br />
                <span style='font-size: medium;'>Заказы принимаем через соц. сети указанные внизу страницы.</span>
                <br />
                <span style='font-size: medium;'>Товар из всех категорий продается только упаковками (размерными рядами), исключение составляет раздел сайта "Штучный товар".</span>
                <br />
                <span style='font-size: medium;'>После получения заказа в течении одного рабочего дня (исключая выходные) наши менеджеры свяжутся с Вами и выставят счет (счет отправляется клиенту после того как сотрудники склада соберут ваш заказ и контролеры его проверят).</span>
                <br />
                <span style='font-size: medium;'>Счет действителен в течении трех рабочих дней.</span>
                <br />
                <span style='font-size: medium;'>Если по какой то причине Вы не можете оплатить в трехдневный срок, свяжитесь с нами. Мы всегда пойдем Вам на встречу!</span>
                <br />
                <span style='font-size: medium;'>После завершения оформления заказа, пожалуйста, ожидайте обратной связи от наших менеджеров. Они обязательно согласуют с Вами все особенности заявки (оплата, комплектация, доставка) в течение 1 дня.</span>
                <br />
                <span style='font-size: medium;'>Если Вам захочется подробнее узнать о вариантах оплаты и периоде бронирования, с радостью ждём Ваших вопросов.</span></p>
            
            
            
            <h3 style='color:#050505'> ДОСТАВКА ДЕТСКОЙ ОДЕЖДЫ ОПТОМ </h3>
            <p style='color:#050505'> 
                <span style='font-size: medium;'>
                    <br />Отправка товара только после 100% оплаты, в день зачисления денежных средств (до 14-00 по Бишкеку). В противном случае - отправка произведется на следующий день.
                    <br />Отправка товара транспортной компанией по Вашему выбору или Почтой России и ЕМС в любой город России и Казахстана осуществляется за счет клиента.
                    <br />При заказе на сумму менее 15000 сом. услуги экспедитора по г. Бишкек до терминала транспортной компании в размере 300сом оплачивает клиент.
                    <br />Если Вы пока не определились с транспортной компанией, мы сами подберём для Вас самый оптимальный вариант по критериям скорости доставки, а также - стоимости и надёжности.
                    <br />Услуги, оказанные транспортной компанией, Вы оплачиваете во время получения партии детской одежды согласно утверждённым данной компанией тарифам.
                    <br />По доставке все вопросы также решаются с менеджерами "Красок детства" посредством телефона или формы обратной связи.
            
                </span>
             </p>
            <h3 style='color:#050505'>ВОЗВРАТ И ОБМЕН ТОВАРА</h3>     
            <p style='color:#050505'> 
                <span style='font-size: medium;'>
                    Товар надлежащего качества возврату и обмену не подлежит.
                    <br />Принимается текстильный брак в течении 14 рабочих дней с момента получения товара. Мы обменяем бракованную модель (если есть в наличии) или сделаем перерасчет при следующем заказе по согласованию с Вами. Возврат брака происходит за наш счет.
                </span>
            <p>
            <h3 style='color:#050505'> РАССЧИТАТЬ ДОСТАВКУ </h3>
            <p style='color:#050505'> 
                <span style='font-size: medium;'> 
                    Стоимость доставки зависит от веса заказанного товара, вашего местонахождения и способа доставки.
                    <br />У каждой транспортной компании свои условия, потому предлагаем вам определиться с выбором удобной ТК и сделать расчет на их сайте.
                    <br />Напоминаем что при заказе на сумму менее 15000 сом. услуги экспедитора по г. Бишкек до терминала транспортной компании в размере 300сом оплачивает клиент.
                </span>
            </p>  
            </div>  
        </div>
    </article>
    <!-- / content -->
  </div>
</div>
<div class="main">
    <!-- footer -->
    <footer>
      <div class="wrapper">
        <section class="col2">
          <div class="wrapper">
            <section class="col4">
              <h3>Подписывайтесь на нас</h3>
              <ul id="icons">
                <li><a href="https://instagram.com/turetskietovaryoptom?igshid=17x76aiz9m6wh"><img src="{% static 'images/insta.jpg' %}"  alt=""><span>Instagram</span></a></li>
                <li><a href="https://t.me/minimodaoptomturkey"><img src="{% static 'images/telegram.jpg' %}"  alt=""><span>Telegram</span></a></li>
                <li><a href="https://wa.me/996551544487"><img src="{% static 'images/whatsapp.jpg' %}"  alt=""><span>Whatsapp</span></a></li>
              </ul>
            </section>
            <!-- <section class="col4 pad_left1">
              <h3>Why Us </h3>
              <ul id="why_us">
                <li><a href="#">Sed perspiciatis unde </a></li>
                <li><a href="#">Omnis natus error</a></li>
                <li><a href="#">Voluptatem accusantium </a></li>
              </ul>
            </section> -->
          </div>
          <!-- <div id="footer_link">Copyright &copy; <a href="#">Domain Name</a> All Rights Reserved<br>
            Design by <a target="_blank" href="http://www.templatemonster.com/">TemplateMonster.com</a></div> -->
        </section>
        <section class="col3 pad_left2">
          <h3>Напишите на наш E-mail</h3>
          <form id="ContactForm" action="#">
            <div>
              <div class="wrapper"> <span>Имя:</span>
                <div class="bg">
                  <input type="text" class="input">
                </div>
              </div>
              <div class="wrapper"> <span>E-mail:</span>
                <div class="bg">
                  <input type="text" class="input">
                </div>
              </div>
              <div class="textarea_box"> <span>Ваше сообщение:</span>
                <div class="bg2">
                  <textarea name="textarea" cols="1" rows="1"></textarea>
                </div>
              </div>
              <a href="#">Отправить</a> </div>
          </form>
        </section>
      </div>
      <!-- {%FOOTER_LINK} -->
    </footer>
    <!-- / footer -->
  </div>
  </body>
  </html>