{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>M.M. for Girls</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/layout.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/jquery-1.6.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/tms-0.3.js' %}"></script>
<script src="{% static 'js/tms_presets.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">#menu a, .bg, .bg2, #ContactForm a {behavior:url("../js/PIE.htc")}</style>
<![endif]-->
</head>
<body id="page2">
<div class="body1">
  <div class="main">
    <!--header -->
    <header>
      <div class="wrapper">
        <h1><a href="{% url 'index' %}" id="logo"></a></h1>
        <nav> 
          <ul id="menu">
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li class="active"><a href="{% url 'girls' %}">Девочкам</a></li>
            <li><a href="{% url 'boys' %}">Мальчикам</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- / header -->
    <!-- content -->
    <article id="content">
      <!-- <div class="wrapper">
        <h2>Useful Info</h2>
        <div class="wrapper">
          <section class="col1"> <span class="dropcap1"><span>01</span></span>
            <div class="cols">
              <p class="pad_bot1 color1">ntium.</p>
              <p class="pad_bot2">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia.</p>
              <a href="#" class="link1">Read More</a> </div>
          </section>
          <section class="col1 pad_left1"> <span class="dropcap1"><span class="color1">02</span></span>
            <div class="cols">
              <p class="pad_bot1 color1">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore.</p>
              <p class="pad_bot2">Cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime.</p>
              <a href="#" class="link1">Read More</a> </div>
          </section>
          <section class="col1 pad_left1"> <span class="dropcap1"><span class="color2">03</span></span>
            <div class="cols">
              <p class="pad_bot1 color1">Quis autem vel eum iure repre- henderit qui in ea voluptate velit esse quam molestiae.</p>
              <p class="pad_bot2">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus.</p>
              <a href="#" class="link1">Read More</a> </div>
          </section>
        </div>
      </div> -->
    </article>
  </div>
</div>
<div class="body2">
  <div class="main">
    <article id="content2">
      <h2>Одежда для девочек оптом из Турции</h2>
      <div class="wrapper">
        {% for post in posts %}
        <div class="cols pad_left2">
          <figure class="pad_bot2 pad_top1"><img src="{{post.photos.url}}" width="200" height="230" alt=""></figure>
          <p class="pad_bot2"> <span class="font1 color2">{{post.name}}</span><br>
          </p>
          <a href="{% url 'show' pk=post.pk %}" class="link1">Подробнее</a> </div>
        {% endfor %}
      </div>
    </article>
    <!-- / content -->
  </div>
</div>
<div class="main">
  <!-- footer -->
  <footer>
    <div class="wrapper">
      <section class="col2">
        <div class="wrapper">
          <section class="col3 ">
            <h3>Подпишитесь на нас</h3>
            <ul id="icons">
              <li><a href="https://instagram.com/turetskietovaryoptom?igshid=17x76aiz9m6wh"><img src="{% static 'images/insta.jpg' %}"  alt=""><span>Instagram</span></a></li>
              <li><a href="https://t.me/minimodaoptomturkey"><img src="{% static 'images/telegram.jpg' %}"  alt=""><span>Telegram</span></a></li>
              <li><a href="https://wa.me/996551544487"><img src="{% static 'images/whatsapp.jpg' %}"  alt=""><span>Whatsapp</span></a></li>
            </ul>
          </section>
          <section class="col4 pad_left1">
          </section>
        </div>
      </section>
      <section class="col3  pad_left2">
        <h3>Напишите на наш E-mail</h3>
        <form id="ContactForm" action="#">
          <div>
            <div class="wrapper"> <span>Имя:</span>
              <div class="bg">
                <input type="text" class="input">
              </div>
            </div>
            <div class="wrapper"> <span>E-mail:</span>  
              <div class="bg">
                <input type="text" class="input">
              </div>
            </div>
            <div class="textarea_box"> <span>Ваше сообщение:</span>
              <div class="bg2">
                <textarea name="textarea" cols="1" rows="1"></textarea>
              </div>
            </div>
            <a href="mailto:elijan87@gmail.com">Отправить</a> </div>
        </form>
      </section>
    </div>
    <!-- {%FOOTER_LINK} -->
  </footer>
  <!-- / footer -->
</div>
</body>
</html>
