{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
<title>Mini MOOD</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/layout.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/jquery-1.6.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/tms-0.3.js' %}"></script>
<script src="{% static 'js/tms_presets.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">#menu a, .bg, .bg2, #ContactForm a {behavior:url("../js/PIE.htc")}</style>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
  <div class="main">
    <!--header -->
    <header>
      <div class="wrapper">
        <h1><a href="{% url 'index' %}" id="logo"></a></h1>
        <nav>
          <ul id="menu">
            <li class="active"><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'girls' %}">Девочкам</a></li>
            <li><a href="{% url 'boys' %}">Мальчикам</a></li>
            </ul>
        </nav>
      </div>
      <div class="slider_bg">
        <div class="slider">
          <ul class="items">
            {% for photo in photos %}
              <li><img src="{{photo.photo.url}}" alt=""></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </header>
    <!-- / header -->
    <!-- content -->
    <article id="content">
      <div class="wrapper">
        <h2>Новинки Весна-Лето 2020года</h2>
        <div class="wrapper">
          {% for news in newss %}
          <section class="col1"> <span class="dropcap1"><span>{{news.title}}</span></span>
            <div class="cols">
              <p class="pad_bot1 color1"></p>
              <p class="pad_bot2"></p>
              <a href="{{ news.link }}" class="link1">Читать далее</a> </div>
          </section>
          {% endfor %}
        </div>
      </div>
    </article>
  </div>
</div>
<div class="body2">
  <div class="main">
    <article id="content2">
      <div class="wrapper">
        <section class="col2">
          <h2>У нас приемлемые цены<span>и доставка по РФ И РК</span></h2>
          <div class="testimonials">
            <p class="quot">Гарантия качества, доставка в установленные сроки.<img src="{% static 'images/quot2.png' %}" alt=""></p>
          </div>
          <p class="pad_bot1"><em class="font1 color1"> Возможности:</em></p>
          <div class="wrapper">
            <section class="col10">
              <ul class="list1">
                <li><a href="#">Прямые поставки из Турции</a></li>
                <li><a href="#">Вещи из высокого качества</a></li>
                <li><a href="{% url 'dostavka' %}">Доставка и оплата</a></li>
            </section>
          </div>
        </section>
        <section class="col3 pad_left2">
          <h2>Наши Ассортимент</h2>
          {% for menu in menus %}
          <div class="wrapper pad_top1">
            <figure class="left marg_right1"><img src="{{menu.photo.url}}" alt=""></figure>
            <p><span class="font1 color2">{{menu.title}}</span><br>
            <a href="{{  menu.link }}" class="link1">Посмотреть</a> </p>
          </div>
          {% endfor %}
        </section>
      </div>
    </article>
    <!-- / content -->
  </div>
</div>
<div class="main">
  <!-- footer -->
  <footer>
    <div class="wrapper">
      <section class="col2">
        <div class="wrapper">
          <section class="col4">
            <h3>Подписывайтесь на нас</h3>
            <ul id="icons">
              <li><a href="https://instagram.com/turetskietovaryoptom?igshid=17x76aiz9m6wh"><img src="{% static 'images/insta.jpg' %}"  alt=""><span>Instagram</span></a></li>
              <li><a href="https://t.me/minimodaoptomturkey"><img src="{% static 'images/telegram.jpg' %}"  alt=""><span>Telegram</span></a></li>
              <li><a href="https://wa.me/996551544487"><img src="{% static 'images/whatsapp.jpg' %}"  alt=""><span>Whatsapp</span></a></li>
            </ul>
          </section>
        </div>
      </section>
      <section class="col3 pad_left2">
        <h3>Напишите на наш E-mail</h3>
        <form id="ContactForm" action="#">
          <div>
            <div class="wrapper"> <span>Имя:</span>
              <div class="bg">
                <input type="text" class="input">
              </div>
            </div>
            <div class="wrapper"> <span>E-mail:</span>
              <div class="bg">
                <input type="text" class="input">
              </div>
            </div>
            <div class="textarea_box"> <span>Ваше сообщение:</span>
              <div class="bg2">
                <textarea name="textarea" cols="1" rows="1"></textarea>
              </div>
            </div>
            <a href="#">Отправить</a> </div>
        </form>
      </section>
    </div>
    <!-- {%FOOTER_LINK} -->
  </footer>
  <!-- / footer -->
</div>
</body>
</html>