{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>M.M.Photo</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/layout.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/jquery-1.6.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/tms-0.3.js' %}"></script>
<script src="{% static 'js/tms_presets.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">#menu a, .bg, .bg2, #ContactForm a {behavior:url("../js/PIE.htc")}</style>
<![endif]-->
</head>
<body id="page5">
<div class="body1">
  <div class="main">
    <!--header -->
    <header>
      <div class="wrapper">
        <h1><a href="{% url 'index' %}" id="logo"></a></h1>
        <nav>
          <ul id="menu">
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'girls' %}">Девочкам</a></li>
            <li><a href="{% url 'boys' %}">Мальчикам</a></li>

          </ul>
        </nav>
      </div>
    </header>
    <!-- / header -->
    <!-- content -->
    <article id="content">
      <div class="wrapper">
        <div class="wrapper pad_top1">
          <div class="marg_right1">
            <figure class="left marg_right1"><img src="{{post.photos.url}}" width="400" alt=""></figure>
            <div class="characteristics">
              <span class="charac">Характеристики:</span>
              <table>
                <tbody>
                  <tr>
                  <td class="lable">Тип одежды: </td>
                  <td class="value">{{post.name}}</td>
                  </tr>
                  <tr>
                  <td class="lable">Размер:</td>
                  <td class="value">{{post.size}}</td>
                  </tr>
                  <tr>
                  <td class="lable">Цвет:</td>
                  <td class="value">{{post.color}}</td>
                  </tr>
                  <tr>
                  <td class="lable">Артикул:</td>
                  <td class="value">{{post.code}} </td>
                  </tr>
                  <tr>
                  <td class="lable">Цена:</td>
                  <td class="value">{{post.price}}</td>
                  </tr>
                  <tr>
                  <td class="lable">Возрастная группа: </td>
                  <td class="value">{{post.made_by}}</td>
                  </tr>
                </tbody>
              </table> 
            </div>
          </div>
      </div>
    </article>
  </div>
</div>
<div class="main">
  <!-- footer -->
  <footer>
    <div class="wrapper">
      <section class="col2">
        <div class="wrapper">
          <section class="col4">
            <h3>Подписывайтесь на нас</h3>
            <ul id="icons">
              <li><a href="https://instagram.com/turetskietovaryoptom?igshid=17x76aiz9m6wh"><img src="{% static 'images/insta.jpg' %}"  alt=""><span>Instagram</span></a></li>
				      <li><a href="https://t.me/minimodaoptomturkey"><img src="{% static 'images/telegram.jpg' %}"  alt=""><span>Telegram</span></a></li>
				      <li><a href="https://wa.me/996551544487"><img src="{% static 'images/whatsapp.jpg' %}"  alt=""><span>Whatsapp</span></a></li>
            </ul>
          </section>
        </div>
      </section>
      <section class="col3 pad_left2">
        <h3>Напишите на наш E-mail</h3>
        <form id="ContactForm" action="#">
          <div>
            <div class="wrapper"> <span>Имя:</span>
              <div class="bg">
                <input type="text" class="input">
              </div>
            </div>
            <div class="wrapper"> <span>E-mail:</span>
              <div class="bg">
                <input type="text" class="input">
              </div>
            </div>
            <div class="textarea_box"> <span>Ваше сообщение:</span>
              <div class="bg2">
                <textarea name="textarea" cols="1" rows="1"></textarea>
              </div>
            </div>
            <a href="#">Отправить</a> </div>
        </form>
      </section>
    </div>
    <!-- {%FOOTER_LINK} -->
  </footer>
  <!-- / footer -->
</div>
</body>
</html>