/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block
}
mark, rp, rt, ruby, summary, time {
	display:inline
}
/* Left & Right alignment */
.left {
	float:left
}
.right {
	float:right
}
.wrapper {
	width:100%;
	overflow:hidden
}
/* Global properties */
body {
	background:rgb(255, 176, 176);
	border:0;
	font:18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:	#038ea0;
	line-height:22px
}
.ic, .ic a {
	border:0;
	float:right;
	background:rgb(22, 208, 233);
	color:rgb(251, 255, 0);
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
.css3 {
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	position:relative
}
/* Global Structure */
.main {
	margin:0 auto;
	width:966px
}
.body1 {
	background:url(../images/bg_top2.gif) top repeat-x #fbff00
}
.body2 {
	background:#fcfcfa
}
/* main layout */
a {
	color:rgb(2, 10, 27);
	text-decoration:underline;
	outline:none
}
a:hover {
	text-decoration:none
}
h1 {
	float:left;
	padding:33px 0 0 16px
}
h2 {
	font-size:35px;
	color:rgb(10, 10, 10);
	line-height:1.2em;
	padding:28px 0 16px 0;
	font-weight:normal;
	letter-spacing:-2px
}
h2 span {
	display:block;
	margin-top:-7px
}
h3 {
	font-size:25px;
	color:rgb(10, 151, 216);
	font-weight:normal;
	line-height:1.2em;
	padding:34px 0 8px 0;
	letter-spacing:-1px
}
p {
	padding-bottom:22px
}
/* header */
header {	
	height:169px
}
#logo {
	display:block;
	background:url(../images/logo.png) 0 0 no-repeat;
	width:298px;
	height:79px;
	text-indent:-9999px
}
#logo_name{
	color:rgb(10, 151, 216);
}
#menu {
	float:right;
	padding:71px 16px 0 0
}
#menu li {
	float:left;
	padding-left:1px
}
#menu li a {
	display:block;
	font-size:19px;
	color:#130c04;
	text-decoration:none;
	line-height:42px;
	height:43px;
	padding:0 19px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	position:relative;
	background:url(../images/spacer.gif) repeat
}
#menu li a:hover, #menu .active a {
	background:url(../images/menu_bg.gif) bottom repeat-x #120fd3;
	color:#fff
}
#menu li a:hover, #menu .active a {
	background/*\**/:url(../images/menu_bg.gif) top repeat-x #337f05
}
.slider_bg {
	width:200px;
	height:483px;
	background:url(../images/slider_bg.png) 0 0 no-repeat;
	position:relative;
	margin-top:17px
}
.slider {
	top:8px;
	left:8px;
	position:absolute;
	z-index:1;
}
.slider .items {
	display:none
}
.slider .pagination {
	position:absolute;
	z-index:2;
	bottom:23px;
	left:430px
}
* + html .slider .pagination {
	bottom:27px
}
.slider .pagination li {
	float:left
}
.slider .pagination a {
	display:block;
	width:30px;
	height:30px;
	text-indent:-9999px;
	background:url(../images/buttons.png) right 0 no-repeat
}
.slider .pagination a:hover, .slider .pagination .current a {
	background-position:left
}
/* content */
#content {
	padding:0 0 34px 23px
}
#content2 {
	padding:3px 0 15px 23px
}
.pad_left1 {
	padding-left:35px
}
.pad_left2 {
	padding-left:50px
}
.pad_bot1 {
	padding-bottom:11px
}
.pad_bot2 {
	padding-bottom:15px
}
.marg_right1 {
	margin-right:20px
}
.pad_top1 {
	padding-top:5px
}
.dropcap1 {
	float:left;
	background:url(../images/dropcap.png) 0 0 no-repeat;
	width:50px;
	height:54px;
	margin-right:20px;
	font-size:45px;
	line-height:1.2em;
	text-align:center;
	color:#e11204;
	margin-top:6px
}
.dropcap1 span {
	display:block;
	margin-top:-6px
}
.dropcap1 .color1 {
	color:#f60000
}
.dropcap1 .color2 {	
	color:#f30707
}
.dropcap1 .color3 {
	color:#f71c14
}
.color1 {
	color:rgb(12, 54, 240)
}
.color2 {
	color:#07abf7
}
.font1 {
	font-size:18px
}
.link1 {
	display:inline-block;
	font-style:italic;
	padding-right:13px;
	background:url(../images/marker_2.gif) right 8px no-repeat;
	text-decoration:none
}
.link1:hover {
	color:#2d0af0;
	text-decoration:underline
}
.link2 {
	color:#2d0af0;
	text-decoration:none
}
.link2:hover {
	text-decoration:underline
}
.testimonials {
	background:url(../images/testimonials_bg.gif) 0 4px no-repeat;
	padding-left:50px
}
.quot {
	background:url(../images/quot1.png) 0 0 no-repeat;
	padding-left:20px;
	font-style:italic
}
.quot img {
	display:inline-block;
	margin-top:1px;
	padding-left:4px
}
.list1 li {
	font-size:18px;
	line-height:25px
}
.list1 a {
	color:#fc0b0b;
	padding-left:23px;
	background:url(../images/marker_1.png) 0 4px no-repeat;
	text-decoration:none
}
.list1 a:hover {
	color:rgb(0, 8, 8)
}
.quality {
	width:100%;
	overflow:hidden
}
.quality .cols {
	width:290px
}
.quality .pad_left1 {
	padding-left:30px
}
.quality .arrow {
	background:url(../images/arrow.png) right 4px no-repeat
}
.quality .dropcap1 {
	height:50px;
	background:url(../images/dropcap2.png) 0 0 no-repeat;
	margin-top:1px
}
.quality h3 {
	padding:0 0 17px 0
}
.quality h3 span {
	display:block;
	margin-top:-6px
}

.price li {
	width:100%;
	overflow:hidden;
	background:url(../images/bg_price.gif) 0 -5px repeat-x
}
.price span {
	float:right;
	background:#1c160d
}
.price a {
	color:#a09d99;
	text-decoration:none;
	float:left;
	background:#1c160d
}
.price a:hover {
	color:#fff
}
.address {
	margin-top:-3px;
	padding-bottom:25px
}
.address li {
	line-height:27px;
	padding-left:23px;
	background:url(../images/marker_1.png) 0 6px no-repeat;
	overflow:hidden
}
.address a {
	color:#62a80a;
	text-decoration:none
}
.address a:hover {
	text-decoration:underline
}
pre {
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ff7505;
	line-height:27px
}
/* footer */
footer {
	padding:0 0 40px 23px
}


#icons li {
	line-height:1.9em
}
#icons a {
	color:#f10c0cbb;
	text-decoration:none
}
#icons a span {
	display:inline-block;
	vertical-align:top;
	cursor:pointer
}
#icons a:hover {
	color:rgb(20, 230, 160)
}
#icons img {
	margin:5px 10px 0 0
}

#footer_link {
	margin-top:17px;
	border-top:1px solid #1a1a1a;
	padding-top:19px
}
/* forms */
#ContactForm {
	padding-top:2px
}
#ContactForm span {
	float:left;
	width:111px;
	line-height:24px
}
#ContactForm .bg {
	border:1px solid rgba(247, 29, 0, 0.76);
	background:url(../images/bg_input.gif) top repeat-x #f77a7aab;
	position:relative;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	float:left;
	height:20px;
	overflow:hidden
}
#ContactForm .bg2 {
	border:1px solid rgb(245, 4, 4);
	background:url(../images/bg_textarea.gif) top repeat-x #f58c8cce;
	position:relative;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	float:left;
	height:98px;
	overflow:hidden
}
#ContactForm .wrapper {
	min-height:27px
}
#ContactForm .textarea_box {
	height:105px;
	width:100%;
	overflow:hidden
}
#ContactForm a {
	float:right;
	width:94px;
	height:43px;
	font-size:18px;
	color:rgb(251, 255, 250);
	text-decoration:none;
	line-height:42px;
	text-align:center;
	background:url(../images/button_bg.gif) top repeat-x #f4f7f3;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	position:relative
}
#ContactForm a:hover {
	background:#3dfc03
}
#ContactForm .input {
	width:307px;
	height:18px;
	background:none;
	padding:0 5px;
	color:#000000;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0
}
#ContactForm textarea {
	overflow:auto;
	width:307px;
	height:98px;
	background:none;
	padding:0 5px;
	color:#050505;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0
}
body .characteristics .charac {
	display: block;
	font: 600 16px/12px "Myriad Pro", sans-serif;
	font-size: normal;
	font-variant-caps: normal;
	font-weight: 600;
	font-stretch: normal;
	font-size: 16px;
	line-height: 12px;
	font-family: "Myriad Pro", sans-serif;
	font-size-adjust: none;
	font-kerning: auto;
	font-optical-sizing: auto;
	font-variant-alternates: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-variant-position: normal;
	font-language-override: normal;
	font-feature-settings: normal;
	font-variation-settings: normal;
	color: #f80909;
	margin-bottom: 15px;
}
body table {
	border:0;
	/* font:18px "Trebuchet MS", Arial, Helvetica, sans-serif; */
	color:	#050505;
	line-height:22px;
	width: 100%;
	border-collapse: collapse;
	border-spacing: initial;
	table-layout: initial;
	
}
body .characteristics table tr td:nth-of-type(1) {
	font: 15px/16px "Mariad-Pro", sans-serif;
	font-style: normal;
	font-variant-caps: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 13px;
	line-height: 26px;
	font-family: "Tahpma", sans-serif;
	font-size-adjust: none;
	font-kerning: auto;
	font-optical-sizing: auto;
	font-variant-alternates: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-variant-position: normal;
	font-language-override: normal;
	font-feature-settings: normal;
	font-variation-settings: normal;
	line-height: 16px;
	color: #19171d;
}
body .characteristics table {
	width: 50%; }
body .characteristics table tr:last-of-type td span {
	border-bottom: 1; 
}
body .characteristics table tr td {
	width: 50%;
	text-align: left;
	vertical-align: top; 
	padding: 3px 0 4px; 
	border-bottom: 1px solid #aaa3a3; }
body .characteristics table tr:last-of-type td {
	border-bottom: 0;
}
body .characteristics table tr td:nth-of-type(1) span, .characteristics table tr td:nth-of-type(1) a {
	font: 13px/26px "Tahoma", sans-serif;
	line-height: 16px;
	color: #000000; 
}
body .characteristics table tr td:nth-of-type(2) span, .characteristics table tr td:nth-of-type(2) a {
	font: 13px/26px "Tahoma", sans-serif;
	line-height: 16px;
	color: #000000; 
}
body .characteristics table tr td span {
	display: block;
	width: 150px;
	border-bottom: 1px solid #000000; 
}
body .characteristics table tr td:nth-of-type(2) a {
	color:#dd196b;
}
body .characteristics table tr td {
	width: 50%;
	text-align: left;
	vertical-align: top;
	padding: 3px 0 4px;
	border-bottom: 1px solid #cbcbcb;
}